@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default; 
}@import 'tailwind-animations';


@theme{
    /* Colores Personalizados */
    --color-police: #59b319;
    --color-light: #f7f8f6;
    --color-dark: #182111;
    --color-base-100: #182111;
    --color-tactical-dark: #1f2421;
    --color-tactical-green: #2c3b2a;
    --color-tactical-olive: #4a5e46;
    --color-tactical-highlight: #e6e8e6;

    --text-small: 0.625rem; /* 10px */

    /* TODO:Falta descargar la fuente y usarla */
    /* Tipografía */
    --font-display: "Public Sans", sans-serif;

    --image-hex-pattern: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V10c0-5.523 4.477-10 10-10s10 4.477 10 10v20c0 5.523-4.477 10-10 10S0 34.477 0 40z' fill='%232c3b2a' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
}