---
import Layout from "@/layouts/Layout.astro";
export const prerender = true;
---

<Layout>

		<div >
			<a
				href="/login"
				class="access cursor-pointer px-1 py-3 w -full bg-tactical-highlight hover:bg-white text-black font-bold h-12 rounded uppercase tracking-wider shadow-lg hover:shadow-primary/40 transition-all duration-300 flex items-center justify-center gap-2 border border-transparent hover:border-primary"
				rel="noopener noreferrer"
			>
				Login</a
			>
		</div>
	</div>
		<style>
		.access {
			padding: 20px;
			letter-spacing: 2.5px;
			width: 220px;
			height: 50px;
			border: none;
			outline: none;
			color: #fff;
			background: #111111;
			cursor: pointer;
			position: relative;
			z-index: 0;
			border-radius: 10px;
		}
		.access:before {
			content: "";
			background: linear-gradient(
				45deg,
				#ff0000,
				#ff7300,
				#fffb00,
				#48ff00,
				#00ffd5,
				#002bff,
				#7a00ff,
				#ff00c8,
				#ff0000
			);
			position: absolute;
			top: -2px;
			left: -2px;
			background-size: 400%;
			z-index: -1;
			filter: blur(5px);
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			animation: glowing 20s linear infinite;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			border-radius: 10px;
		}

		.access:active {
			color: #000;
		}

		.access:active:after {
			background: transparent;
		}

		.access:hover:before {
			opacity: 1;
		}

		.access:after {
			z-index: -1;
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: #111;
			left: 0;
			top: 0;
			border-radius: 10px;
		}

		@keyframes glowing {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 400% 0;
			}
			100% {
				background-position: 0 0;
			}
		}

	</style>

</Layout>