---
import Layout from "@/layouts/Layout.astro";
export const prerender = true
---
<Layout>
	<div>
		<!--TODO: Mejorar estilos o usar una biblioteca de componentes-->
		<a href="/login" class="cursor-pointer px-1 py-3 w-full bg-tactical-highlight hover:bg-white text-black font-bold h-12 rounded uppercase tracking-wider shadow-lg hover:shadow-primary/40 transition-all duration-300 flex items-center justify-center gap-2 border border-transparent hover:border-primary" rel="noopener noreferrer">Iniciar Sesion</a>
	</div>
</Layout>

