---
const user = Astro.locals.user;

// Si por alguna razón el middleware fallara, usamos un fallback
const name = user?.name || "Invitado";
const initial = name.charAt(0).toUpperCase();
---

<div class="flex items-center justify-center gap-2 h-26">
    <div class="avatar avatar-online placeholder animate-fade-in-right">
        <div class="bg-neutral text-neutral-content size-20 rounded-full flex justify-center items-center">
            <span class="text-3xl">{initial}</span>
        </div>
    </div>

    <div class="flex flex-col animate-fade-in-left">
      <p class="font-semibold text-xl">¡Hola bienvenido {name}!</p>
      <div id="logout-button" class="btn mt-4 cursor-pointer">Cerrar sesión</div>
    </div>
</div>

<script>
    const logoutButton = document.getElementById('logout-button') as HTMLButtonElement;
    logoutButton?.addEventListener('click', async () => {
        const response = await fetch('/api/logout', {
            method: 'POST',
        })
        if(response.ok || response.redirected) {
            window.location.href = '/login';
        }
    })
</script>